@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-2xl font-extrabold;
}

h2 {
    @apply text-xl font-bold;
}

.hidden {
    opacity: 0;
    transition: all 0.7s;
}

.show {
    opacity: 1;
}


@layer components {
    .subsection {
        @apply my-5 py-5 px-1 min-h-full;
    }
    
    section {
        @apply py-9;
    }
    
    section p {
        @apply py-3;
    }

    .list {
        @apply list-disc pl-5;
    }

    .headline {
        @apply text-4xl font-light md:text-5xl lg:text-5xl py-3;
    }
    .headline-details {
        @apply text-3xl py-2 font-extralight;
    }

    .box-info {
        @apply bg-gradient-to-r from-cyan-500 to-blue-500 rounded-md shadow-md p-2 text-white;
    }

    .box-info-blue {
        @apply bg-gradient-to-r from-cyan-500 to-blue-500 rounded-md shadow-md p-2 text-white;
    }

    .box-info-green {
        @apply bg-gradient-to-r from-lime-500 to-green-500 rounded-md shadow-md p-2 text-white;
    }

    .box-info-white {
        @apply bg-gradient-to-r from-gray-300 to-white rounded-md shadow-md p-2 text-black; 
    }

    .box-info-orange {
        @apply bg-gradient-to-r from-amber-400 to-orange-500 rounded-md shadow-md p-2 text-white;
    }

    .box-info2 {
        @apply bg-gradient-to-r
        from-pink-500 via-red-500 to-yellow-500
        background-animate;
    }

    .background-light {
        @apply bg-gradient-to-r from-transparent via-orange-100 to-red-100
        background-animate;
    }

    .background-dark {
        @apply bg-gradient-to-r from-slate-800 via-blue-900 to-violet-950
        background-animate;
    }

    .background-animate {
        background-size: 200%;
        -webkit-animation: AnimationSmooth 12s ease infinite;
        -moz-animation: AnimationSmooth 12s ease infinite;
        animation: AnimationSmooth 12s ease infinite;
      }
    
      @keyframes AnimationSmooth {
        0%,
        100% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
      }
}